@font-face {
    font-family: "FiraCode-Regular";
    src: url("../font/FiraCode-Regular.ttf");
}

body {
    background-color: whitesmoke;
    font-family: "FiraCode-Regular";
}

header, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

main div {
    margin: 50px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.5);
    font-weight: bold;
    max-width: 480px;
}

main iframe {
    border-radius: 25px 25px 0 0;
    border: 0;
}

main div p {
    text-align: center;
    margin: 5px;
}